.footer {
    margin-top: 4em;
    padding: 20px 0;
    text-align: center;
    color: white;
    background-color: #252525;
}

    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-social {
        display: flex;
        gap: 20px;
    }

        .footer-social img {
            width: 2.4em;
            height: auto;
            transition: transform 0.3s ease;
        }

            .footer-social img:hover {
                transform: scale(1.1);
            }

    .footer-links {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin-top: 1em;
        padding: 0;
        gap: 10px;
        font-size: 1em;
    }

        .footer-links li {
            color: white;
            text-decoration: none;
            transition: color 0.3s ease;
        }

        .footer-links li:hover {
            color: #aaa;
        }

@media (max-width: 599px) {
    .footer-content {
        flex-direction: column;
    }

    .footer-social {
        margin-top: 10px;
    }
}